@import "./colors.scss";
@import "./mixins.scss";
@import "./fonts.scss";
@import "./components/login.scss";
@import "./components/myAccount.scss";
@import "./components/mainTable.scss";
@import "./components/profile.scss";
@import "./components/chartsContainer.scss";


//Containers
html, body, #root, main{
    @include containerFullHeight;  
            h1{
                @include bold(3em);
                color:rgba(0, 0, 0, 0.74)
            }
            p{
                @include regular (1em);
                color:$textColor
            } 
}
#root, body{
    background-color: $secondary;

}

#all{
    @include regularContainer (row, auto, center);
    width: 100%;
    flex-wrap: nowrap;
    background-color: $light2;
    #sideBar{
        @include regularContainer (column, auto, auto);
        background-color: $secondary;
        height: 100%;
        width: 5%;

        img{
            filter:invert(100%);
            &:hover{
                cursor: pointer;  
                transform: scale(1.3);
                opacity: 0.25;
                transition: 1s;
                
            }
        }

        #sideBarContainer{
            @include regularContainer(column, space-between,center);
            height: 100%;
            padding: 2em 0em;
            .iconsContainerBar{
                @include regularContainer(column, center,center);
                gap:2.4em;
            }
        }

    }
    #allContainer{
        width: 95%;
        height: 100%;
        @include regularContainer (column, auto, auto);
    }
}

//!HEADER
aside{
    @include regularContainer(row, space-between,center);
    padding: 0em 2em;
    background-color: $light2;
    .logoContainers{
       #logo{color:$textColor;}
    }
   .btnContainers{
        @include regularContainer(row,center,center);
        gap:1em;
        img{
            filter: invert(25%)
        }
        .userBtn{
            @include btnModel(white, $textColor);
            @include regularContainer(row,center,center);
            gap:0.7em;
            img{
                filter:invert(100%)
            }
        }
   }
}


.skillsColumns{
    div{
        @include regularContainer(row, auto, auto);
        flex-wrap: wrap;
        gap: 0.1em;
        span{
            background-color: $primary;
            margin: 0.2em;
            padding:0.2em 0.4em;
            border-radius: 6px;
            color: white;
        }
    }

}


//!FOOTER
#footer{
    background-color: $primary;
    padding: 0.5em;
    text-align: center;
    p{
        @include regular(1.3em);
        color: white;
    }
}


//Effects
.click{
    cursor: pointer;
}

.bigger{
    &:hover{
        transform: scale(1.3);
        opacity: 0.25;
        transition: 1s;
    }
}